.change-card {
  width: 600px;
  height: 430px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1eeee;
  border: 1px solid #6d67674f;
  border-radius: 10px;
}

.change-card header {
  font-size: 18px;
  padding: 2px;
  margin-bottom: 10px;
}

.change-card__content {
  width: 520px;
  height: 77%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.change-card__content label {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.change-card__content label p {
  width: 26%;
  font-size: 18px;
}

.change-card__content label input,
textarea {
  width: 70%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid rgb(211, 208, 208);
  padding: 7px;
  font-size: 16px;
  background-color: #f1eeee;
}

textarea {
  resize: none;
}

.change-card__content label input:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 120, 215, 0.5);
}

.change-card__buttons {
  width: 520px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 15px;
}

.change-card__buttons button {
  width: 33%;
  border: 1px solid #6d67674f;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  background-color: #f1eeee;
  color: rgb(112, 110, 110);
}

.change-card__buttons button:hover {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 120, 215, 0.5);
}

@media (max-width: 1280px) {
  .change-card {
    height: 271px;
  }

  .change-card__content {
    height: 64%;
  }

  .change-card__content label {
    height: 23%;
  }

  .change-card__content label p {
    font-size: 15px;
  }

  .change-card__buttons button {
    font-size: 15px;
    height: 100%;
  }
}

@media (max-width: 776px) {
  .change-card {
    width: 280px;
    height: 315px;
  }

  .change-card header {
    font-size: 14px;
    padding: 0px;
    margin: 0;
  }

  .change-card__content {
    width: 260px;
    height: 57%;
    display: block;
  }

  .change-card__content label {
    display: block;
    height: 33%;
  }

  .change-card__content label p,
  input {
    width: 100%;
    font-size: 10px;
  }

  .change-card__content label input {
    height: 55%;
    width: 100%;
  }

  .change-card__content label input::placeholder {
    font-size: 8px;
  }

  .change-card__content label textarea {
    height: 55%;
    width: 100%;
  }

  .change-card__content label textarea::placeholder {
    font-size: 9px;
  }

  .change-card__buttons {
    width: 260px;
    height: 60px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }

  .change-card__buttons button {
    width: 100%;
    font-size: 10px;
    margin-bottom: 4px;
  }
}
